@font-face{ 
	font-family: 'colfaxThin';
	src: url('../fonts/colfaxThin.eot');
	src: url('../fonts/colfaxThin.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/colfaxThin.woff') format('woff'),
	     url('../fonts/colfaxThin.ttf') format('truetype'),
	     url('../fonts/colfaxThin.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'colfaxLight';
	src: url('../fonts/colfaxLight.eot');
	src: url('../fonts/colfaxLight.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/colfaxLight.woff') format('woff'),
	     url('../fonts/colfaxLight.ttf') format('truetype'),
	     url('../fonts/colfaxLight.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'colfaxRegular';
	src: url('../fonts/colfaxRegular.eot');
	src: url('../fonts/colfaxRegular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/colfaxRegular.woff') format('woff'),
	     url('../fonts/colfaxRegular.ttf') format('truetype'),
	     url('../fonts/colfaxRegular.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'colfaxRegularItalic';
	src: url('../fonts/colfaxRegularItalic.eot');
	src: url('../fonts/colfaxRegularItalic.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/colfaxRegularItalic.woff') format('woff'),
	     url('../fonts/colfaxRegularItalic.ttf') format('truetype'),
	     url('../fonts/colfaxRegularItalic.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'colfaxMedium';
	src: url('../fonts/colfaxMedium.eot');
	src: url('../fonts/colfaxMedium.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/colfaxMedium.woff') format('woff'),
	     url('../fonts/colfaxMedium.ttf') format('truetype'),
	     url('../fonts/colfaxMedium.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'colfaxBold';
	src: url('../fonts/colfaxBold.eot');
	src: url('../fonts/colfaxBold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/colfaxBold.woff') format('woff'),
	     url('../fonts/colfaxBold.ttf') format('truetype'),
	     url('../fonts/colfaxBold.svg#webfont') format('svg');
}